.tag {
    background: #ff6060;
    border-radius: 5px;
    color: white;
    text-align: center;

    @media screen and (max-width: 992px) {
        border-radius: 10px;
    }

    @media screen and (max-width: 650px) {
        border-radius: 10px;
    }

    &__text {
        margin: 0;
        font-size: 14px;
        font-weight: 500;

        @media screen and (max-width: 650px) {
            font-size: 10px !important;
            font-weight: 500;
        }
    }
}