.list-item {
    width: 80%;
    height: 48px;
    background-color: #FF6060;
    margin: 0 auto;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    margin-top: 20px;

    p {
        margin: auto 0;
        color: white;
        font-size: 24px;
        text-transform: capitalize;
    }
}

.icon-wrapper {
    margin: auto 0;
    cursor: pointer;
    height: auto;
    width: auto;
}

.list-wrapper {
    list-style: none;
    display: block;
    padding: 0;
    margin-bottom: 88px;
    width: 90%;
    position: relative;
    left: 7%;

    li {
        margin: 32px 0;
    }
}

.collapsed-text {
    height: 0;
    width: 80%;
    height: auto;
    margin: 0 auto;
    color: #FF6060;
    background-color: #F7F7F7;
    padding: 23px;
    border-radius: 5px;

    p {
        font-size: 24px;
    }
}

@media screen and (max-width: 992px) {
    .list-item {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .list-item {
        height: 30px !important;

        p {
            font-size: 15px !important;
        }
    }

    .collapsed-text p {
        font-size: 15px;
    }

    .icon-wrapper svg {
        height: 15px !important;
        width: 14px !important;
    }

    .list-wrapper {
        width: 100%;
        top: -16px;
        left: 0;
    }
}

.reverse {
    transform: rotate(180deg);
}

@media screen and (max-width:650px) {
    .list-item {
        width: 90%;
    }

    .collapsed-text {
        width: 90%;
    }
}